<div class="list-storyline text-center w3-animate-opacity">
  <p class="title">BÀI GIẢNG ELEARNING KHOA HỌC LỚP 5</p>

  <div class="list-storyline-container">
    <div class="item" (click)="onClickNavigate('/bai-2')">
      <img src="storyline/storyline-item.png" alt="" />
      <div class="content">
        <p class="name">Ô nhiễm, xói mòn đất <br />và bảo vệ môi trường đất</p>
        <p class="button" (click)="onClickNavigate('/bai-2')">Bài 2</p>
      </div>
    </div>
    <div class="item" (click)="onClickNavigate('/bai-4')">
      <img src="storyline/storyline-item.png" alt="" />
      <div class="content">
        <p class="name">Sự biến đổi của chất</p>
        <p class="button" (click)="onClickNavigate('/bai-4')">Bài 4</p>
      </div>
    </div>
    <div class="item" (click)="onClickNavigate('/bai-13')">
      <img src="storyline/storyline-item.png" alt="" />
      <div class="content">
        <p class="name">Sự sinh sản <br />của thực vật có hoa</p>
        <p class="button" (click)="onClickNavigate('/bai-13')">Bài 13</p>
      </div>
    </div>
  </div>
</div>
