<div class="list-storyline text-center w3-animate-opacity">
  <p class="title">Danh sách storyline</p>

  <div class="list-storyline-container">
    <div class="item" (click)="onClickNavigate('/bai-2')">
      <img src="storyline/storyline-item.png" alt="" />
      <p (click)="onClickNavigate('/bai-2')" class="">Bài 2</p>
    </div>
    <div class="item" (click)="onClickNavigate('/bai-4')">
      <img src="storyline/storyline-item.png" alt="" />
      <p (click)="onClickNavigate('/bai-4')" class="">Bài 4</p>
    </div>
    <div class="item" (click)="onClickNavigate('/bai-13')">
      <img src="storyline/storyline-item.png" alt="" />
      <p (click)="onClickNavigate('/bai-13')" class="">Bài 13</p>
    </div>
  </div>
</div>
